/* ------------------------------ 
    Reset de Estilos Globais 
   ------------------------------ */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

main{
    padding-inline: 15rem;
}

/* ------------------------------ 
    Estilos da Barra de Navegação 
   ------------------------------ */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 9;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-inline: 11.95rem;
}

.logo {
    height: 2.5rem;
}

.nav-items {
    display: flex;
    align-items: center;
}

.search {
    width: 31.25rem;
    display: flex;
}

.search-box::placeholder {
    color: #0b0b0b;
}
.search input:focus:placeholder-shown {
    color: #000000;
}

.search input:focus::placeholder {
    color: #e3e3e3;
    transition: 0.5s;
}

.search-box {
    width: 80%;
    height: 2.5rem;
    padding: 0.625rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: 0.0625rem solid #000000;
    text-transform: capitalize;
    background: none;
    color: #272727;
    outline: none;
}

.search-btn {
    width: 20%;
    height: 2.5rem;
    padding: 0.625rem 1.25rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: #000000;
    color: #fff;
    text-transform: capitalize;
    font-size: 0.9375rem;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3rem;
}

.search-btn:hover {
    border: solid 0.0625rem #000000;
    background-color: rgb(245, 245, 245);
    color: #000000;
    transition: 0.75s;
}

.icons{
    size: 3rem;
}

.nav-items a {
    margin-left: 1.25rem;
}

.nav-items a img {
    width: 1.875rem;
}

/* ------------------------------ 
    Estilos do Menu de Links 
   ------------------------------ */
.links-container {
    width: 100%;
    display: flex;
    padding: 1rem 10vw;
    justify-content: center;
    list-style: none;
    border: 0.0625rem solid #d1d1d1;
    background: #ffffff;
}

.link {
    text-transform: capitalize;
    padding: 0 0.625rem;
    margin: 0 0.3125rem;
    text-decoration: none;
    color: #000000;
    transition: .5s;
}
.link:hover{
    color: #868686;
}

/* ------------------------------ 
    Estilos do Banner 
   ------------------------------ */
.banner {
    width: 100%;
    background-color: #000000;
    
}

.banner-again{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 11.95rem;
}

.banner button:hover {
    background-color: #000000;
    color: #d1d1d1;
    border: solid 0.0625rem #d1d1d1;
    transition: 1s;
}

.conteudo-banner {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    line-height: 4.0625rem;
}

.conteudo-banner button{
    line-height: auto;
}

.conteudo-banner h2 {
    font-size: 5rem;
    max-width: 50rem;
}

#nao-perca {
    font-size: 4.5rem;
}

.conteudo-banner p {
    font-size: 1.5rem;
}

.conteudo-banner button {
    padding: 1.25rem;
    padding-inline: 1.875rem;
    border: none;
    border: 0.0625rem solid #000000;
    font-size: 0.9375rem;
}

/* ------------------------------ 
    Estilos da Imagem do Banner 
   ------------------------------ */
.img-banner img {
    width: auto;
    height: 23.125rem;
}

/* ------------------------------ 
    Estilos dos produtos
   ------------------------------ */


#section-1{
    margin-inline: 2rem;
    display: flex;
    justify-content: center;
    max-width: 90%;
}

.carrousel{
    display: flex;
    justify-content: center;
    max-width: 90%;
}

.carrousel-products{
    padding-inline: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrosel-title{
    padding-top: 1.25rem;
    padding-left: 15rem;
    padding-bottom: 1.25rem;
}

.product-card-title{
    font-size: 1rem;
    color: #000000;
    height: 1rem;
}

.product-card-price{
    font-size: 1.3rem;
    color: #333;
    font-family:'Times New Roman', Times, serif;
}

.product-card img{
    width: 12.5rem;
    height: 12.5rem;
}

.product-card-btn{
    width: 100%;
    margin-top: 1rem;
    padding: 0.625rem 1.25rem;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}
.product-card-btn:hover{
    border: solid 0.0625rem #383838;
    background-color: rgb(245, 245, 245);
    color: #383838;
    transition: 0.5s;
}

.card {
    min-width: 350px;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
      
  }
  
  .card img {
    width: 100%;
    height: 300px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .card h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
  }
  
  .card .codigo {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
  }
  
  .card .price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  
  .card .installment {
    font-size: 14px;
    color: #888;
    margin-bottom: 15px;
  }
  
  .card .buy {
      background-color: #000000;  
      color: #fff;
      border: 2px solid #000000;  
      padding: 12px 25px;  
      font-size: 16px;  
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;  
      border-radius: 4px;  
      cursor: pointer;
      transition: all 0.3s ease;  
    }
    
    .card .buy:hover {
      background-color: #3a3a3a;  
      border-color: #3a3a3a;  
      transform: scale(1.05);  
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    }
    
    .card .buy:active {
      background-color: #444444;  
      transform: scale(1);  
      box-shadow: none; 
    }
    
  
    button.prev, button.next {
      transform: translateY(-50%);
      color: rgb(0, 0, 0);
      border: none;
      padding: 12px 20px; 
      border-radius: 50%;  
      cursor: pointer;
      z-index: 10;
      transition: all 0.3s ease; 
    }
    
    button.prev {
      left: 1px;
    }
    
    button.next {
      right: 1px;
    }
    
    button.prev:hover, button.next:hover {
      background-color: #000000;  
      color: white;  
    }

    .container-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .column {
        display: flex;
        flex-direction: column;
    }
    
    .carrousel {
        display: flex;
        transition: transform 0.5s ease;
        gap: 16px;
      }
    
    .main-text{
        font-size: 1.5em;
        font-weight: 700;
        line-height: 1.5em;
    }
    
    .page-title-small {
        font-size: 0.875em;
        font-weight: 700;
        line-height: 1.5em;
    }
    
    .text-container {
        padding: 12px 32px;
        background-color: white; 
        border-radius: 15px;
    }
    
    
    .product-card-reference{
        padding-top: 25px;
        padding-bottom: 16px;
        font-size: 12px;
        font-weight: 300;
    }
    
    .product-card-installment {
        font-size: 0.75em;
        padding-bottom: 17px;
        font-weight: 300;
    }
    
    .product-card {
        display: flex;
        flex-direction: column;
        background-color: #ffffff; 
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 200px;
        height: 27.25rem;
    }
    
    .products-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 16px;
        padding-bottom: 50px;
    }
    
    .section-product {
        padding: 3.125em 0;
        position: relative;
    }
    
    .section-product-carrousel {
        position: relative;
        max-width: 90%;
        margin: auto;
        overflow: hidden;
      }
    
    .prev, .next {
        position: absolute;
        top: 50%;
        background-color: transparent;
        color: rgb(23, 23, 23);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 32px;
      }
    
      .grid_col_1 {
        grid-area: col1;
        padding:25px
    }
    
    .grid_col_2 {
        grid-area: col2;
        padding: 25px;
    }
    
    
    #product_page, #checkout, #billing{
        display: grid;
        column-gap: 32px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "col1 col2";
    }
    
    .product.text-container.page-title-small {
        margin-top: 24px;
    }
    
    .product.text-container {
        margin: 10 0;
    }
    
    .product.text-container h4 {
        font-weight: 400;
        font-size: 0.875em;
        padding-bottom: 5px;
    }
    
    .product.main-text {
        font-size:1.2em;
    }
    
    /* product page grid */
    
    .product_images_container{
        display: flex;
        column-gap: 32px;
    }
    
    .images_selector{
        display: flex;
        flex-direction: column;
        flex-basis: 120px;
        align-items: center;
    }   


/* ------------------------------ 
    Estilos do Rodapé - Redes Sociais 
   ------------------------------ */
.redes-sociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais img{
    width: 18.75rem;
    height: 2.5rem;
}

.redes-sociais-ext a i {
    font-size: 30px; /* Ajuste o tamanho conforme necessário */
    color: #000;    /* Defina a cor desejada */
    margin: 0 10px; /* Espaçamento entre os ícones */
}

/* ------------------------------ 
    Estilos das Categorias 
   ------------------------------ */
.categories {
    display: flex;
    justify-content: space-between;
    padding-inline: 15rem;
}
.categoryh2{
    padding-inline: 15rem;
}

.category {
    text-align: center;
    width: 30%;
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    background-color: #f5f5f5;
}

.category img {
    width: 100%;
    height: 9.375rem;
    object-fit: cover;
}

.categoryh2 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.category h3 {
    margin-top: 0.625rem;
}

/* ------------------------------ 
    Botões dentro das Categorias 
   ------------------------------ */
.category button {
    margin-top: 1rem;
    padding: 0.625rem 1.25rem;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

.category button:hover {
    border: solid 0.0625rem #383838;
    background-color: rgb(245, 245, 245);
    color: #383838;
    transition: 0.5s;
}

/* ------------------------------ 
    Estilos do Rodapé - Redes Sociais 
   ------------------------------ */
   .redes-sociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais img{
    width: 18.75rem;
    height: 2.5rem;
}

.redes-sociais-ext img{
    width: 2.5rem;
    height: 2.5rem;
}

/* ------------------------------ 
    Conteúdo do Rodapé 
   ------------------------------ */

footer {
    padding-inline: 11.95rem;
    margin-top: 2.5rem;
    width: 100%;
    bottom: 0;
}

.fixarRodape {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 1rem 10vw;
}

.div-footer {
    background: #F0F0F0;
    height: 0.0625rem;
    border: none;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

.footer-content h4 {
    margin-bottom: 0.625rem;
    font-size: 1.125rem;
    color: #333;

}

.footer-content p {
    font-size: 0.875rem;
    color: #555;
}

.redes-sociais-ext a i {
    font-size: 30px; /* Ajuste o tamanho conforme necessário */
    color: #000;    /* Defina a cor desejada */
    margin: 0 10px; /* Espaçamento entre os ícones */
}


/* ------------------------------ 
    Imagens dos Métodos de Pagamento 
   ------------------------------ */
.payments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payments-icon{
    display: flex;
    justify-content: right;
}


/* products.html */
.section-product-all{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}